* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.container-media {
  width: 380px;
  height: 470px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediaWrapper {
  background-color: #0c2d57;
  padding: 34px;
  color: aliceblue;
  border-radius: 24px;
}

.headUp {
  background-color: antiquewhite;
  height: 280px;
  width: 280px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}

.headUp img {
  width: 100%;
  transition: 0.2s ease;
}

.headUp img:hover {
  transform: scale(1.1);
}

.navigator {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;
  gap: 18px;
}

.trackSeek {
  display: flex;
  width: 100%;

  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.seekSlider {
  width: 100%;
  height: 4px;
  display: flex;
  align-items: center;
}

.seekSlider,
.volumeSLide {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fc6736;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.seekSlider::-webkit-slider-thumb,
.volumeSLide::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 9px;
  height: 9px;
  background-color: #efecec;

  cursor: pointer;
  border-radius: 20%;
}

.control__wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
  align-items: center;
}

.volume {
  display: flex;

  align-items: center;
  gap: 4px;
  margin-top: 30px;
}

.volume input {
  width: 120px;
  height: 6px;
}

.volume svg {
  width: 14px;
  fill: #fc6736;
}

.buttonNavigate {
  display: flex;
  gap: 6px;
}

.buttonNavigate svg {
  width: 13.78px;
}

.buttonNavigate button {
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5.56px;
  transition: 0.2s ease;
}

.buttonNavigate button:hover {
  background-color: beige;
  transform: scale(0.95);
}

.buttonNavigate button:nth-child(3) {
  transform: scale(1.1);
}

.trackDesc {
  text-align: center;
  margin: 6px;
}

@media only screen and (max-width: 600px) {
  .mediaWrapper {
    background-color: #0c2d57;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: aliceblue;
    border-radius: 0;
  }

  .container-media {
    width: 100%;
    height: 100%;
    /* padding: 12px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
