* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-card {
  width: 300px;
  margin: 6px;
  display: flex;
  align-items: center;
}

.card {
  background-color: #ef233c;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 9px;
  border-left: 6px solid #d90429;
  justify-content: space-between;
  color: #f5f5f5;

  box-shadow: 2px 7px 16px -10px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 2px 7px 16px -10px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 2px 7px 16px -10px rgba(0, 0, 0, 0.9);
}

.icon svg {
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #edf2f4;
}

.btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: none;
  padding: 5px;
  fill: #edf2f4;
  transition: 0.2s ease;
}

.btn button:hover {
  fill: #faa307;
}

.warning {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 12px;
}
