* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card-container {
    background-color: #f7f7f7;
    width: 380px;
    height: 150px;
    padding: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    border-radius: 12px;
    border: #d7d7d7 2px solid;
  }

  .wrapperA {
    display: flex;
    gap: 13px;
  }

  .logo {
    background-color: #fff;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .logo img {
    width: 100%;
  }

  .wrapperB {
    display: flex;
    justify-content: left;
    margin: 3px;
    margin-top: 6px;
  }

  .mappingPoint {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
  }

  hr {
    width: 1px;
    height: 23px;
    background-color: #474747;
    border: none;
  }

  .pointA,
  .pointB {
    display: flex;
    gap: 12px;
    align-items: center;
    height: 24px;
  }

  .pointA svg {
    width: 11px;
  }

  .pointB svg {
    width: 11px;
  }

  