* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IntelOne Display";
}

body {
  background-color: #e7e7e7;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-a {
  background: #fff;
  width: 393px;

  border-radius: 11px;
  background: #fff;
  padding: 12px;
  border: #e7e7e7 1.78px solid;
}

.content {
  display: flex;
  align-items: center;
  padding: 6px 20px 6px 20px;
  gap: 2rem;
  height: 105px;
  flex-shrink: 0;
}

.content h3 {
  font-size: 20px;

  font-weight: 500;
}

.icon-danger {
  width: 100px;
}

.icon-danger svg {
  transition: all 0.2s ease-in-out;
}

.icon-danger svg:hover {
  transform: scale(1.1);
}

.button--actiontrigger {
  display: flex;
  padding: 12px;
  justify-content: space-around;
}

#GetAccess button {
  display: flex;
  padding: 14px 50px 14px 50px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #e7e7e7;
  border: none;
}

#GetAccess button:hover {
  background-color: #d2d2d2;
}

#cancelAccess button {
  display: flex;
  padding: 14px 63px;
  align-items: flex-end;
  gap: 10px;
  border-radius: 4px;
  background: #f10c43;
  border: none;
  color: #fff;
}

#cancelAccess button:hover {
  background-color: #cc0c39;
}
