* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: coolvetica;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 350px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease;
  border-radius: 12px;
  border: 4px solid #aea916;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: -1px 7px 41px -18px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: -1px 7px 41px -18px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: -1px 7px 41px -18px rgba(0, 0, 0, 0.68);
}
.element {
  opacity: 0%;
  font-size: 0px;
  transition: 0.2s ease;
  padding: 12px;
  background-color: #333333;

  border-radius: 6px;
}

.card:hover .element {
  opacity: 100%;
  font-size: 20px;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.59);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  color: aliceblue;
}

.effect {
  color: azure;
  opacity: 100%;
  display: block;
  transition: 0.2s ease;
}

.card:hover .effect {
  opacity: 0%;
  display: none;
}

a {
  font-size: 12px;
  /* background-color: #fff; */
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #dfdfdf;
  transition: 0.2s ease;
  padding: 2px;
}

a:hover {
  gap: 24px;
  fill: #fec712;
  color: #fec712;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 250px;
    height: 150px;
  }

  .card:hover .element {
    opacity: 100%;
    font-size: 10px;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.59);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
  }
}
